<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
</head>
<body>
    <h1>My employee Table</h1>
    <table border="1">

        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Email</th>
            
        </tr>
        {% for emp in employees%}

        <tr>
            <td>{{emp.name}}</td>
            <td>{{emp.employeeprofile.phone}}</td>
            <td>{{emp.employeeprofile.adress}}</td>
            <td>{{emp.employeeprofile.email}}</td>
        </tr>
        {% endfor %}

    </table>
    
</body>
</html>